NEXT_PUBLIC_MOCK=false
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=xxxx
NODE_ENV=development
NEXT_PUBLIC_MOVIE_API_KEY=TMDB_API_KEY
NEXT_PUBLIC_KOPIS_API_KEY=KOPIS_API_KEY
NEXT_PUBLIC_API_URL=<your server path>
NEXT_PUBLIC_PRODUCTION_API_URL=<your production server path>
NEXT_PUBLIC_GOOGLE_MAPS_ID=<your google map id>
NEXT_PUBLIC_KAKAO_JS_KEY=<your_kakao_js_key>
AUTH_URL=<auth.js redirect url>
AUTH_SECRET=<your auth.js secret>