DB_HOST=<your_ip>
DB_PORT=5432
DB_USERNAME=<DB_username>
DB_PASSWORD=<DB_user_pw>
DB_DATABASE=mydb_name
NODE_ENV=development
PORT=4000
USE_INMEMORY_DB=true   # true면 TypeORM 연결 안 함
FRONTEND_URL=http://<서버 public ip or domain(https)> # 프론트엔드 도커 서비스 이름 기준 URL, 포트 포함
JWT_SECRET=<your_jwt_secret> # 당신의 jwt 비밀키
GOOGLE_CLIENT_ID=<your_oauth_google_client_id> # 구글 OAuth앱이 발급하는 클라이언트 ID
GOOGLE_CLIENT_SECRET=<your_oauth_google_client_secret> # 구글 OAuth앱이 발급하는 클라이언트 ID
KAKAO_CLIENT_ID=<your_oauth_kakao_client_id> # 카카오 REST API 키
KAKAO_CLIENT_SECRET=<your_oauth_kakao_client_secret> # 카카오 로그인 On인경우만 필수